#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
UiDefinition (
  sprites: [
    (6.0, 5.0, HalfCorner(BottomLeft)),
    (6.0, 11.0, HalfCorner(TopLeft)),
    (23.0, 5.0, HalfCorner(BottomRight)),
    (23.0, 11.0, HalfCorner(TopRight)),

    (11.0, 4.0, CutCorner(BottomLeft)),
    (11.0, 12.0, CutCorner(TopLeft)),
    (18.0, 4.0, CutCorner(BottomRight)),
    (18.0, 12.0, CutCorner(TopRight)),

    (11.0, 5.0, ConnectCorner(BottomLeft)),
    (11.0, 11.0, ConnectCorner(TopLeft)),
    (18.0, 5.0, ConnectCorner(BottomRight)),
    (18.0, 11.0, ConnectCorner(TopRight)),

    (7.0, 5.0, HalfSide(Bottom)),
    (8.0, 5.0, HalfSide(Bottom)),
    (9.0, 5.0, HalfSide(Bottom)),
    (10.0, 5.0, HalfSide(Bottom)),
    (19.0, 5.0, HalfSide(Bottom)),
    (20.0, 5.0, HalfSide(Bottom)),
    (21.0, 5.0, HalfSide(Bottom)),
    (22.0, 5.0, HalfSide(Bottom)),

    (7.0, 11.0, HalfSide(Top)),
    (8.0, 11.0, HalfSide(Top)),
    (9.0, 11.0, HalfSide(Top)),
    (10.0, 11.0, HalfSide(Top)),
    (19.0, 11.0, HalfSide(Top)),
    (20.0, 11.0, HalfSide(Top)),
    (21.0, 11.0, HalfSide(Top)),
    (22.0, 11.0, HalfSide(Top)),

    (12.0, 4.0, FullSide(Bottom)),
    (13.0, 4.0, FullSide(Bottom)),
    (14.0, 4.0, FullSide(Bottom)),
    (15.0, 4.0, FullSide(Bottom)),
    (16.0, 4.0, FullSide(Bottom)),
    (17.0, 4.0, FullSide(Bottom)),

    (12.0, 12.0, FullSide(Top)),
    (13.0, 12.0, FullSide(Top)),
    (14.0, 12.0, FullSide(Top)),
    (15.0, 12.0, FullSide(Top)),
    (16.0, 12.0, FullSide(Top)),
    (17.0, 12.0, FullSide(Top)),

    (6.0, 6.0, FullSide(Left)),
    (6.0, 7.0, FullSide(Left)),
    (6.0, 8.0, FullSide(Left)),
    (6.0, 9.0, FullSide(Left)),
    (6.0, 10.0, FullSide(Left)),

    (23.0, 6.0, FullSide(Right)),
    (23.0, 7.0, FullSide(Right)),
    (23.0, 8.0, FullSide(Right)),
    (23.0, 9.0, FullSide(Right)),
    (23.0, 10.0, FullSide(Right)),

    (12.0, 5.0, Center),
    (13.0, 5.0, Center),
    (14.0, 5.0, Center),
    (15.0, 5.0, Center),
    (16.0, 5.0, Center),
    (17.0, 5.0, Center),

    (12.0, 11.0, Center),
    (13.0, 11.0, Center),
    (14.0, 11.0, Center),
    (15.0, 11.0, Center),
    (16.0, 11.0, Center),
    (17.0, 11.0, Center),

    (7.0, 6.0, Center),
    (8.0, 6.0, Center),
    (9.0, 6.0, Center),
    (10.0, 6.0, Center),
    (11.0, 6.0, Center),
    (12.0, 6.0, Center),
    (13.0, 6.0, Center),
    (14.0, 6.0, Center),
    (15.0, 6.0, Center),
    (16.0, 6.0, Center),
    (17.0, 6.0, Center),
    (18.0, 6.0, Center),
    (19.0, 6.0, Center),
    (20.0, 6.0, Center),
    (21.0, 6.0, Center),
    (22.0, 6.0, Center),

    (7.0, 7.0, Center),
    (8.0, 7.0, Center),
    (9.0, 7.0, Center),
    (10.0, 7.0, Center),
    (11.0, 7.0, Center),
    (12.0, 7.0, Center),
    (13.0, 7.0, Center),
    (14.0, 7.0, Center),
    (15.0, 7.0, Center),
    (16.0, 7.0, Center),
    (17.0, 7.0, Center),
    (18.0, 7.0, Center),
    (19.0, 7.0, Center),
    (20.0, 7.0, Center),
    (21.0, 7.0, Center),
    (22.0, 7.0, Center),

    (7.0, 8.0, Center),
    (8.0, 8.0, Center),
    (9.0, 8.0, Center),
    (10.0, 8.0, Center),
    (11.0, 8.0, Center),
    (12.0, 8.0, Center),
    (13.0, 8.0, Center),
    (14.0, 8.0, Center),
    (15.0, 8.0, Center),
    (16.0, 8.0, Center),
    (17.0, 8.0, Center),
    (18.0, 8.0, Center),
    (19.0, 8.0, Center),
    (20.0, 8.0, Center),
    (21.0, 8.0, Center),
    (22.0, 8.0, Center),

    (7.0, 9.0, Center),
    (8.0, 9.0, Center),
    (9.0, 9.0, Center),
    (10.0, 9.0, Center),
    (11.0, 9.0, Center),
    (12.0, 9.0, Center),
    (13.0, 9.0, Center),
    (14.0, 9.0, Center),
    (15.0, 9.0, Center),
    (16.0, 9.0, Center),
    (17.0, 9.0, Center),
    (18.0, 9.0, Center),
    (19.0, 9.0, Center),
    (20.0, 9.0, Center),
    (21.0, 9.0, Center),
    (22.0, 9.0, Center),

    (7.0, 10.0, Center),
    (8.0, 10.0, Center),
    (9.0, 10.0, Center),
    (10.0, 10.0, Center),
    (11.0, 10.0, Center),
    (12.0, 10.0, Center),
    (13.0, 10.0, Center),
    (14.0, 10.0, Center),
    (15.0, 10.0, Center),
    (16.0, 10.0, Center),
    (17.0, 10.0, Center),
    (18.0, 10.0, Center),
    (19.0, 10.0, Center),
    (20.0, 10.0, Center),
    (21.0, 10.0, Center),
    (22.0, 10.0, Center),

    (7.25, 7.125, MapPreview(Previous)),
    (12.5, 5.75, MapPreview(Current)),
    (20.25, 7.125, MapPreview(Next)),

    (11.0, 2.0, Button(Back)),
    (15.0, 2.0, Button(Confirm)),

    (10.5, 8.0, Arrow(Previous)),
    (18.5, 8.0, Arrow(Next)),
  ],
)
