#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
(
  TextureDefinition (
    path: "texture/ui/timers.png",
    width: 64.0,
    height: 256.0,
    sprites: [
      ("white_progress_0",  0.0,     0.0, 0.5, 0.03125),
      ("white_progress_1",  0.0, 0.03125, 0.5, 0.03125),
      ("white_progress_2",  0.0,  0.0625, 0.5, 0.03125),
      ("white_progress_3",  0.0, 0.09375, 0.5, 0.03125),
      ("white_progress_4",  0.0,   0.125, 0.5, 0.03125),
      ("white_progress_5",  0.0, 0.15625, 0.5, 0.03125),
      ("white_progress_6",  0.0,  0.1875, 0.5, 0.03125),
      ("white_progress_7",  0.0, 0.21875, 0.5, 0.03125),
      ("white_progress_8",  0.0,    0.25, 0.5, 0.03125),
      ("white_progress_9",  0.0, 0.28125, 0.5, 0.03125),
      ("white_progress_11", 0.0,  0.3125, 0.5, 0.03125),
      ("white_progress_12", 0.0, 0.34375, 0.5, 0.03125),
      ("white_progress_13", 0.0,   0.375, 0.5, 0.03125),
      ("white_progress_14", 0.0, 0.40625, 0.5, 0.03125),
      ("white_progress_15", 0.0,  0.4375, 0.5, 0.03125),
      ("white_progress_16", 0.0, 0.46875, 0.5, 0.03125),
      ("white_progress_17", 0.0,     0.5, 0.5, 0.03125),
      ("white_progress_18", 0.0, 0.53125, 0.5, 0.03125),
      ("white_progress_19", 0.0,  0.5625, 0.5, 0.03125),
      ("white_progress_20", 0.0, 0.59375, 0.5, 0.03125),
      ("white_progress_21", 0.0,   0.625, 0.5, 0.03125),
      ("white_progress_22", 0.0, 0.65625, 0.5, 0.03125),
      ("white_progress_23", 0.0,  0.6875, 0.5, 0.03125),

      ("color_progress_0",  0.5,     0.0, 0.5, 0.03125),
      ("color_progress_1",  0.5, 0.03125, 0.5, 0.03125),
      ("color_progress_2",  0.5,  0.0625, 0.5, 0.03125),
      ("color_progress_3",  0.5, 0.09375, 0.5, 0.03125),
      ("color_progress_4",  0.5,   0.125, 0.5, 0.03125),
      ("color_progress_5",  0.5, 0.15625, 0.5, 0.03125),
      ("color_progress_6",  0.5,  0.1875, 0.5, 0.03125),
      ("color_progress_7",  0.5, 0.21875, 0.5, 0.03125),
      ("color_progress_8",  0.5,    0.25, 0.5, 0.03125),
      ("color_progress_9",  0.5, 0.28125, 0.5, 0.03125),
      ("color_progress_11", 0.5,  0.3125, 0.5, 0.03125),
      ("color_progress_12", 0.5, 0.34375, 0.5, 0.03125),
      ("color_progress_13", 0.5,   0.375, 0.5, 0.03125),
      ("color_progress_14", 0.5, 0.40625, 0.5, 0.03125),
      ("color_progress_15", 0.5,  0.4375, 0.5, 0.03125),
      ("color_progress_16", 0.5, 0.46875, 0.5, 0.03125),
      ("color_progress_17", 0.5,     0.5, 0.5, 0.03125),
      ("color_progress_18", 0.5, 0.53125, 0.5, 0.03125),
      ("color_progress_19", 0.5,  0.5625, 0.5, 0.03125),
      ("color_progress_20", 0.5, 0.59375, 0.5, 0.03125),
      ("color_progress_21", 0.5,   0.625, 0.5, 0.03125),
      ("color_progress_22", 0.5, 0.65625, 0.5, 0.03125),
      ("color_progress_23", 0.5,  0.6875, 0.5, 0.03125),
    ],
  ),
  {
    "white_progress": ([
      ("white_progress_0",  0.04167),
      ("white_progress_1",  0.04167),
      ("white_progress_2",  0.04167),
      ("white_progress_3",  0.04167),
      ("white_progress_4",  0.04167),
      ("white_progress_5",  0.04167),
      ("white_progress_6",  0.04167),
      ("white_progress_7",  0.04167),
      ("white_progress_8",  0.04167),
      ("white_progress_9",  0.04167),
      ("white_progress_11", 0.04167),
      ("white_progress_12", 0.04167),
      ("white_progress_13", 0.04167),
      ("white_progress_14", 0.04167),
      ("white_progress_15", 0.04167),
      ("white_progress_16", 0.04167),
      ("white_progress_17", 0.04167),
      ("white_progress_18", 0.04167),
      ("white_progress_19", 0.04167),
      ("white_progress_20", 0.04167),
      ("white_progress_21", 0.04167),
      ("white_progress_22", 0.04167),
      ("white_progress_23", 0.04167),
    ], Once),
    "color_progress": ([
      ("color_progress_0",  0.04167),
      ("color_progress_1",  0.04167),
      ("color_progress_2",  0.04167),
      ("color_progress_3",  0.04167),
      ("color_progress_4",  0.04167),
      ("color_progress_5",  0.04167),
      ("color_progress_6",  0.04167),
      ("color_progress_7",  0.04167),
      ("color_progress_8",  0.04167),
      ("color_progress_9",  0.04167),
      ("color_progress_11", 0.04167),
      ("color_progress_12", 0.04167),
      ("color_progress_13", 0.04167),
      ("color_progress_14", 0.04167),
      ("color_progress_15", 0.04167),
      ("color_progress_16", 0.04167),
      ("color_progress_17", 0.04167),
      ("color_progress_18", 0.04167),
      ("color_progress_19", 0.04167),
      ("color_progress_20", 0.04167),
      ("color_progress_21", 0.04167),
      ("color_progress_22", 0.04167),
      ("color_progress_23", 0.04167),
    ], Once),
  },
)
