TextureDefinition (
  path: "texture/map_tiles.png",
  width: 256.0,
  height: 64.0,
  sprites: [
    ("flavor_a_top",    0.0,  0.0,  0.125,  0.25),
    ("flavor_a_top_hl", 0.0, 0.25,  0.125,  0.25),
    ("flavor_a_side",   0.0,  0.5, 0.0625, 0.125),

    ("flavor_b_top",    0.125,  0.0,  0.125,  0.25),
    ("flavor_b_top_hl", 0.125, 0.25,  0.125,  0.25),
    ("flavor_b_side",   0.125,  0.5, 0.0625, 0.125),

    ("preparation_top",    0.25,  0.0,  0.125,  0.25),
    ("preparation_top_hl", 0.25, 0.25,  0.125,  0.25),
    ("preparation_side",   0.25,  0.5, 0.0625, 0.125),

    ("topping_top",    0.375,  0.0,  0.125,  0.25),
    ("topping_top_hl", 0.375, 0.25,  0.125,  0.25),
    ("topping_side",   0.375,  0.5, 0.0625, 0.125),

    ("delivery_top",    0.5,  0.0,  0.125,  0.25),
    ("delivery_top_hl", 0.5, 0.25,  0.125,  0.25),
    ("delivery_side",   0.5,  0.5, 0.0625, 0.125),

    ("empty_top",    0.625,  0.0, 0.0625,  0.25),
    ("empty_top_hl", 0.625, 0.25, 0.0625,  0.25),
    ("empty_side",   0.625,  0.5, 0.0625, 0.125),

    ("floor_top",    0.6875,  0.0, 0.0625,  0.25),
    ("floor_top_hl", 0.6875, 0.25, 0.0625,  0.25),
    ("floor_side",   0.6875,  0.5, 0.0625, 0.125),
  ],
)
