#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
(
  TextureDefinition (
    path: "texture/map_tiles.png",
    width: 128.0,
    height: 64.0,
    sprites: [
      ("delivery_top_h",  0.0,   0.0,  0.25,  0.25),
      ("delivery_top_v",  0.0,  0.25, 0.125,   0.5),
      ("delivery_side_h", 0.0,  0.75,  0.25, 0.125),
      ("delivery_side_v", 0.0, 0.875, 0.125, 0.125),

      ("empty_top_h",  0.25,   0.0, 0.125,  0.25),
      ("empty_top_v",  0.25,   0.0, 0.125,  0.25),
      ("empty_side_h", 0.25, 0.875, 0.125, 0.125),
      ("empty_side_v", 0.25, 0.875, 0.125, 0.125),

      ("floor_top_h",  0.5,   0.0, 0.125,  0.25),
      ("floor_top_v",  0.5,   0.0, 0.125,  0.25),
      ("floor_side_h", 0.5, 0.875, 0.125, 0.125),
      ("floor_side_v", 0.5, 0.875, 0.125, 0.125),
    ],
  ),
  {
    "delivery_top_h": ([
      ("delivery_top_h", 0.25),
    ], Once),
    "delivery_top_v": ([
      ("delivery_top_v", 0.25),
    ], Once),
    "delivery_side_h": ([
      ("delivery_side_h", 0.25),
    ], Once),
    "delivery_side_v": ([
      ("delivery_side_v", 0.25),
    ], Once),

    "empty_top_h": ([
      ("empty_top_h", 0.25),
    ], Once),
    "empty_top_v": ([
      ("empty_top_v", 0.25),
    ], Once),
    "empty_side_h": ([
      ("empty_side_h", 0.25),
    ], Once),
    "empty_side_v": ([
      ("empty_side_v", 0.25),
    ], Once),

    "floor_top_h": ([
      ("floor_top_h", 0.25),
    ], Once),
    "floor_top_v": ([
      ("floor_top_v", 0.25),
    ], Once),
    "floor_side_h": ([
      ("floor_side_h", 0.25),
    ], Once),
    "floor_side_v": ([
      ("floor_side_v", 0.25),
    ], Once),
  },
)
