#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
SpriteFolderDef (
  keys: [
    "strawberry",
    "chocolate",
    "vanilla",
    "cookie_dough",
    "cookies_cream",
    "rocky_road",
    "coffee",
    "mint_chocolate",
    "pistachio",
    "orange",
    "cherry",
    "blue_raspberry",
    "blackberry",
    "lemon",
    "dark_matter",
    "jalapeno",
    "snowball",
    "ectoplasm",
    "bubblegum",
    "baloon",
    "god",
    "licensed",
    "alaska",
    "green_tea",
    "tiger_tail",
    "tutti_frutti",
    "rum_raisin",
    "creamsicle",
    "anti_scoop",
  ],
  path: "texture/flavor/",
  width: 32.0,
  height: 64.0,
  sprites: [
    ("top_h",  0.0,   0.0, 1.0,  0.25),
    ("top_v",  0.0,  0.25, 0.5,   0.5),
    ("side_h", 0.0,  0.75, 1.0, 0.125),
    ("side_v", 0.0, 0.875, 0.5, 0.125),
  ],
  anims: {
    "top_h": ([
      ("top_h", 0.25),
    ], Once),
    "top_v": ([
      ("top_v", 0.25),
    ], Once),
    "side_h": ([
      ("side_h", 0.25),
    ], Once),
    "side_v": ([
      ("side_v", 0.25),
    ], Once),
  },
)
