#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
SpriteFolderDef (
  keys: [
    "sprinkles",
    "chocolate_sprinkles",
    "wafer_sticks",
    "nuts",
    "chocolate_syrup",
    "caramel_syrup",
    "strawberry_syrup",
    "whipped_cream",
    "gummy_candy",
    "cherries",
    "strawberries",
    "kiwi",
    "bananas",
    "cookie_crumbles",
  ],
  path: "texture/topping/",
  width: 32.0,
  height: 64.0,
  sprites: [
    ("top_h",  0.0,   0.0, 1.0,  0.25),
    ("top_v",  0.0,  0.25, 0.5,   0.5),
    ("side_h", 0.0,  0.75, 1.0, 0.125),
    ("side_v", 0.0, 0.875, 0.5, 0.125),
  ],
  anims: {
    "top_h": ([
      ("top_h", 0.25),
    ], Once),
    "top_v": ([
      ("top_v", 0.25),
    ], Once),
    "side_h": ([
      ("side_h", 0.25),
    ], Once),
    "side_v": ([
      ("side_v", 0.25),
    ], Once),
  },
)
