#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
SpriteFolderDef (
  keys: [
    "strawberry",
    "chocolate",
    "vanilla",
    "cookie_dough",
    "cookies_cream",
    "rocky_road",
    "coffee",
    "mint_chocolate",
    "pistachio",
    "orange",
    "cherry",
    "blue_raspberry",
    "blackberry",
    "lemon",
    "dark_matter",
    "jalapeno",
    "snowball",
    "ectoplasm",
    "bubblegum",
    "balloon",
    "god",
    "licensed",
    "alaska",
    "green_tea",
    "tiger_tail",
    "tutti_frutti",
    "rum_raisin",
    "creamsicle",
    "anti_scoop",
  ],
  path: "texture/item/",
  width: 16.0,
  height: 512.0,
  sprites: [
    ("item_0",  0.0,  0.9375, 1.0, 0.03125),
    ("item_1",  0.0, 0.90625, 1.0, 0.03125),
    ("item_2",  0.0,   0.875, 1.0, 0.03125),
    ("item_3",  0.0, 0.84375, 1.0, 0.03125),
    ("scoop_0", 0.0,  0.8125, 1.0, 0.03125),
    ("scoop_1", 0.0, 0.78125, 1.0, 0.03125),
    ("scoop_2", 0.0,    0.75, 1.0, 0.03125),
    ("scoop_3", 0.0, 0.71875, 1.0, 0.03125),
    ("ball_0",  0.0,  0.6875, 1.0, 0.03125),
    ("ball_1",  0.0, 0.65625, 1.0, 0.03125),
    ("ball_2",  0.0,   0.625, 1.0, 0.03125),
    ("ball_3",  0.0, 0.59375, 1.0, 0.03125),
  ],
  anims: {
    "item": ([
      ("item_0", 0.25),
      ("item_1", 0.25),
      ("item_2", 0.25),
      ("item_3", 0.25),
    ], Circular),
    "scoop": ([
      ("scoop_0", 0.25),
      ("scoop_1", 0.25),
      ("scoop_2", 0.25),
      ("scoop_3", 0.25),
    ], Circular),
    "ball": ([
      ("ball_0", 0.25),
      ("ball_1", 0.25),
      ("ball_2", 0.25),
      ("ball_3", 0.25),
    ], Circular),
  },
)
