(
  TextureDefinition (
    path: "texture/item/items.png",
    width: 64.0,
    height: 64.0,
    sprites: [
      ("scoop_empty",       0.0, 0.5, 0.25, 0.25),
      ("scoop_vanilla",    0.25, 0.5, 0.25, 0.25),
      ("scoop_chocolate",  0.50, 0.5, 0.25, 0.25),
      ("scoop_strawberry", 0.75, 0.5, 0.25, 0.25),

      ("flavor_vanilla",    0.25, 0.75, 0.25, 0.25),
      ("flavor_chocolate",  0.50, 0.75, 0.25, 0.25),
      ("flavor_strawberry", 0.75, 0.75, 0.25, 0.25),

      ("cone_empty", 0.25, 0.25, 0.25, 0.25),

      ("cone_neapolitan", 0.25, 0.0, 0.25, 0.25),
    ],
  ),
  {
    "scoop_empty": ([
      ("scoop_empty", 0.25),
    ], Once),
    "scoop_vanilla": ([
      ("scoop_vanilla", 0.25),
    ], Once),
    "scoop_chocolate": ([
      ("scoop_chocolate", 0.25),
    ], Once),
    "scoop_strawberry": ([
      ("scoop_strawberry", 0.25),
    ], Once),

    "flavor_vanilla": ([
      ("flavor_vanilla", 0.25),
    ], Once),
    "flavor_chocolate": ([
      ("flavor_chocolate", 0.25),
    ], Once),
    "flavor_strawberry": ([
      ("flavor_strawberry", 0.25),
    ], Once),

    "cone_empty": ([
      ("cone_empty", 0.25),
    ], Once),

    "cone_neapolitan": ([
      ("cone_neapolitan", 0.25),
    ], Once),

    "order_neapolitan": ([
      ("cone_neapolitan", 0.25),
    ], Once),
  },
)
