#![enable(implicit_some)]

MapDefinition (
  tables: [
    (0.0, 0.0, Flavor(Priority(0)), VerticalRight),
    (0.0, 2.0, Flavor(Priority(1)), VerticalRight),
    (3.0, 0.0, Flavor(Priority(2)), VerticalLeft),
    (3.0, 2.0, Flavor(Priority(3)), VerticalLeft),

    (0.0, 10.0, Flavor(Priority(4)), HorizontalBottom),
    (2.0, 10.0, Flavor(Priority(5)), HorizontalBottom),
    (5.0, 3.0, Flavor(Priority(6)), HorizontalBottom),
    (9.0, 1.0, Flavor(Priority(7)), VerticalLeft),

    (5.0, 10.0, Preparation(Priority(0)), HorizontalBottom),
    (7.0, 10.0, Preparation(Priority(1)), HorizontalBottom),
    (9.0, 6.0, Preparation(Priority(2)), VerticalLeft),
    (9.0, 8.0, Preparation(Priority(3)), VerticalLeft),

    (3.0, 6.0, Topping(Priority(0)), HorizontalBottom),
    (4.0, 7.0, Topping(Priority(1)), HorizontalTop),
    (2.0, 6.0, Topping(Priority(2)), VerticalLeft),
    (6.0, 6.0, Topping(Priority(3)), VerticalRight),

    (5.0, 0.0, Delivery, HorizontalTop),

    (4.0, 0.0, Empty, HorizontalBottom),
    (7.0, 0.0, Empty, HorizontalBottom),
    (8.0, 0.0, Empty, HorizontalBottom),
    (9.0, 0.0, Empty, HorizontalBottom),

    (4.0, 3.0, Empty, HorizontalBottom),
    (9.0, 3.0, Empty, HorizontalBottom),

    (9.0, 4.0, Empty, HorizontalBottom),
    (9.0, 5.0, Empty, HorizontalBottom),

    (3.0, 7.0, Empty, HorizontalBottom),
    (5.0, 6.0, Empty, HorizontalBottom),

    (4.0, 10.0, Empty, HorizontalBottom),
    (9.0, 10.0, Empty, HorizontalBottom),
  ],
  spawns: [
    (1.0, 8.0),
    (1.0, 4.0),
    (8.0, 4.0),
    (8.0, 8.0),
  ],
)
